In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [7]:
# Import data
df = pd.read_csv('~/Documents/GitHub/data/schiff c-csiaa data from schiff_larsen_in prog.csv')
df = df[['Group ID','Group ID2','Group ID3', 'Ala', 'Asx', 'Glx', 'Gly', 'Ser', 'Pro', 'Ile', 'Leu', 'Lys', 'Phe', 'Thr', 'Tyr', 'Val']]
df

,Group ID,Group ID2,Group ID3,Ala,Asx,Glx,Gly,Ser,Pro,Ile,Leu,Lys,Phe,Thr,Tyr,Val
0,B1,Bacteria,NaN,-11.3,-12.9,-11.5,-12.9,NaN,NaN,-12.0,-12.8,-10.4,-18.8,-5.2,-16.8,-13.6
1,B2,Bacteria,NaN,-12.2,-17.6,-17.8,-13.9,NaN,NaN,-12.9,-13.0,-14.9,-17.0,-8.2,-18.1,-14.1
2,B3,Bacteria,NaN,-15.9,-21.8,-18.3,-21.3,NaN,NaN,-18.9,-19.9,-20.3,-24.6,-15.0,-22.9,-20.8
3,B4,Bacteria,NaN,-22.6,-22.7,-22.9,-25.3,NaN,NaN,-23.7,-25.2,-21.2,-28.9,-15.1,-27.7,-26.4
4,B5,Bacteria,NaN,-14.8,-17.4,-16.5,-13.8,NaN,NaN,-16.1,-17.7,-14.8,-18.3,-8.3,-18.0,-17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Prochlorococcus,Prokaryote,Non-N2 fixing,-5.5,-0.5,-13.8,-41.6,-6.8,-12.4,-12.8,-21.5,NaN,-22.1,-9.5,NaN,-17.6
164,Rhodococcous,Prokaryote,Heterotrophic bacteria,-28.3,-24.7,-25.9,-37.3,-19.3,-20.0,-27.3,-26.2,-23.8,-29.2,-18.4,NaN,-26.8
165,Actinobacteria,Prokaryote,Heterotrophic bacteria,-28.6,-24.9,-25.3,-38.0,-19.2,-20.2,-28.0,-26.5,-22.3,-29.5,-18.2,NaN,-27.8
166,Burkholderia xenovorans,Prokaryote,Heterotrophic bacteria,-12.5,-12.8,-14.5,-12.2,1.2,-8.5,-14.2,-12.9,-10.1,-19.0,-10.1,NaN,-16.0
167,Escherichia coli,Prokaryote,Heterotrophic bacteria,-11.2,-14.9,-15.6,-9.7,-4.2,-14.3,-12.5,-14.0,-11.5,-15.5,-11.5,NaN,-13.6

In [8]:
# Isolate EAA
df = df[['Group ID','Group ID2','Group ID3', 'Phe', 'Thr', 'Ile', 'Leu', 'Val']]
df

,Group ID,Group ID2,Group ID3,Phe,Thr,Ile,Leu,Val
0,B1,Bacteria,NaN,-18.8,-5.2,-12.0,-12.8,-13.6
1,B2,Bacteria,NaN,-17.0,-8.2,-12.9,-13.0,-14.1
2,B3,Bacteria,NaN,-24.6,-15.0,-18.9,-19.9,-20.8
3,B4,Bacteria,NaN,-28.9,-15.1,-23.7,-25.2,-26.4
4,B5,Bacteria,NaN,-18.3,-8.3,-16.1,-17.7,-17.8
...,...,...,...,...,...,...,...,...
163,Prochlorococcus,Prokaryote,Non-N2 fixing,-22.1,-9.5,-12.8,-21.5,-17.6
164,Rhodococcous,Prokaryote,Heterotrophic bacteria,-29.2,-18.4,-27.3,-26.2,-26.8
165,Actinobacteria,Prokaryote,Heterotrophic bacteria,-29.5,-18.2,-28.0,-26.5,-27.8
166,Burkholderia xenovorans,Prokaryote,Heterotrophic bacteria,-19.0,-10.1,-14.2,-12.9,-16.0
167,Escherichia coli,Prokaryote,Heterotrophic bacteria,-15.5,-11.5,-12.5,-14.0,-13.6